<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Thuy Vo's Porfolio">

    <title>{% if page.title %}{{ page.title }} | {% endif %}Thuy Vo</title>

    <link
        href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700;800&family=Montserrat:wght@400;500;600&family=Sanchez&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/about/' | relative_url }}">About</a></li>
            <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
            <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
        </ul>
    </nav>

    <hr>

    <main>
        {{ content }}
    </main>

    <hr>


    <script src="{{ '/js/main.js' | relative_url }}"></script>

</body>

</html>